body {
  background-image: url(greywoods.jpg);
  background-repeat: no-repeat;
}
.navbar {
  background-color: transparent !important;
}
.navbar .navbar-nav {
  margin: 0% auto;
}
.navbar .nav-item a {
  color: #f3b9f3 !important;
  text-shadow: 2px 2px black;
  font-size: 27px;
}
.navbar .nav-item a:hover {
  color: white !important;
  text-shadow: 2px 2px black;
  font-size: 27px;
}

.navbar .navbar-toggler {
  background-color: #f3b9f3;
  border: 1px solid grey !important;
  padding: 10px;
}
.img {
  width: 50%;
  height: auto;
}
.text-box {
  background-color: #ffffff;
  opacity: 0.5;
  font-size: 30px;
  color: #ce16be !important;

  padding-left: 40px;
  font-family: "Cute Font", cursive;
}
.link-box {
  padding-top: 30px;
  text-align: center;
}
.duck-box {
  font-size: 30px;
  color: black !important;
  text-shadow: 2px 2px yellow;
  padding-left: 40px;
}
